**/.DS_Store
.bash_history
.bundle
.cache/
.dockerignore
.git/
.gitconfig
.gitignore
.irb_history
.local/
.rspec
bundle/
compose.yaml
compose.yaml
config/credentials.yml
Dockerfile
log/
README.md
spec/
tmp/
